.tagline .tag{
            display: inline-flex;
            align-content: center;
            gap: 0.5rem;
            padding: 0.35rem 1rem;
            border-radius: 9999px;
            background: rgb(88, 193, 200);
            border: 1px solid var(--border-highlight);
            color: black;
            font-size: 0.75rem;
            font-weight: 600;
            font-family: var(--font-mono);
            margin-bottom: 1.5rem;
            box-shadow: 0 0 20px rgb(29, 130, 137);
}

.found-badge{
    display: flex;
    align-items: center;
    align-content: center;
}