html,body{
    margin: 0;
    width: 100%;
    min-height: 100%;
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px 30px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color:rgb(88, 193, 200) ;
}

.active{
    color: rgb(88, 193, 200);
}

/*login and explore button*/
.nav-button{
    display: flex;
    color: black;
    justify-content: center;
    gap: 20px;
    margin-left: auto;
}

.nav-button a:hover{
    color: black;
}

.login-button{
    background:rgb(88, 193, 200);
    padding: 11px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    display: inline-block;
}

.explore-btn{
    background:rgb(88, 193, 200);
    padding: 11px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    display: inline-block;   
}

/*hero element*/
.hero h1 strong{
    display: flex;
    color: white;
    padding: 10px;
    justify-content: center;
}

/*type-box*/
.type-box {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    transition: 0.3s;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    background: white;
    border: 2px solid rgb(88, 193, 200);
    border-radius: 22px;
}

.type-box:focus-within{
    border-color: #555;
    box-shadow: 0 0 35px rgb(88, 193, 200) ;
}
.type-box input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: transparent;
    font-size: 15px;
}

.type-box input:focus{
    outline: none;
}

.type-box input-placeholder{
    color:#777;
}

/*send button*/
.send-btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    background: rgb(88, 193, 200);
}

.send-btn:hover{
    transform: scale(1.18);
}