*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sekuya display" serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 30px;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: white;
}

av h2{
    color: white;
}

nav a:hover{
    color: red;
}

nav li:last-child a{
    background-color: red;
    padding: 6px 12px;
    border-radius: 5px;
}

nav li:last-child a:hover{
    background: red;
    color: black;
}

.active{
    color: red;
}
