nav{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px 30px;
}



ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;
}

av h2{
    color: white;
}

nav a:hover{
    color: red;
}

.active{
    color: rgb(88, 193, 200);
}
